Package: unpack
Section: utils
Priority: optional
Maintainer: Andras Hrubak <andreas@uucp.hu>
Version: 
Architecture: all
Depends: bash
Recommends: binutils, arj, bzip2, cabextract, dpkg, gzip, ha, genisoimage | cdrtools, lha, lzop, nomarch, rpm2cpio, tar, unace | unace-nonfree, unalz, ncompress, lzma, unrar | unrar-nonfree, squashfs-tools, xz-utils, unzip, vinetto, wine-uharc, zoo
Description: Archive unpack wrapper.
